<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiendaNet2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TiendaNet2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/icon/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <button class="btn btn-primary" data-bs-toggle="offcanvas" style="background-color: #6f4a31" data-bs-target="#barraOffcanvas">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="d-flex justify-content-center flex-grow-1">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img style="width:60px;"
                             src="~/images/icono_marron.JPG" alt="NeoEats" />
                    </a>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img style="width: 100px;" src="~/images/letras_marron.JPG" alt="NeoEats" />
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    @using Microsoft.AspNetCore.Http
                    @{
                        var nombreUsuario = Context.Session.GetString("NombreUsuario");
                        var rol = Context.Session.GetString("Rol");
                    }

                    @if (string.IsNullOrEmpty(@ViewBag.AuthToken))
                    {
                        @if (nombreUsuario == null)
                        {
                            <div class="d-flex">
                                <a href="@Url.Action("Login", "Usuario")" class="btn btn-primary-top mb-2"><i class="bi bi-person-circle"></i></a>
                                <a href="@Url.Action("Registro", "Usuario")" class="btn btn-primary-top mb-2" style="background-color: #6f4a31; color: #FFFFFF;">Regístrate</a>
                            </div>
                        }
                    }
                    else
                    {
                        <a href="@Url.Action("Logout", "Usuario")" class="btn btn-primary-top mb-2" style=" color: #6f4a31; "><i class="bi bi-door-open-fill"></i> @nombreUsuario</a>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3" style="margin-top: 80px;">
            <partial name="_BarraLateral"></partial>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - NeoEats - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
