@model CrearNegocioViewModel
@{
    ViewData["Title"] = "Editar negocio";
}


<div class="container">

    <div class="text-center">
        <img src="@Model.Negocio.ImagenURL" class="card-img-top limited-img-small" alt="Imagen del negocio">
        <h1 class="display-4" style="color: #6f4a31;">
            Editar negocio
        </h1>
        <div style="margin-top: 20px; border-top: 1px solid #6f4a31; padding-top: 10px;"></div>
    </div>
    <form method="post">
        <div class="form-group">
            <label for="nombre">Nombre Negocio:</label>
            <input type="text" class="form-control" id="nombre" name="Nombre" value="@Model.Negocio.Nombre">
        </div>
        <div class="form-group">
            <label for="CategoriaNegocioId">Categoría del Negocio:</label>
            <select class="form-control" id="CategoriaNegocioId" name="CategoriaNegocioId">
                @foreach (var categoria in Model.CategoriasNegocio)
                {
                    <option value="@categoria.Id">@categoria.NombreCategoria</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" id="descripcion" name="Descripcion">@Model.Negocio.Descripcion</textarea>
        </div>
        <div class="form-group">
            <label for="link">Link:</label>
            <input type="text" class="form-control" id="link" name="Link" value="@Model.Negocio.Link">
        </div>
        <div class="form-group">
            <label for="imagen">URL de la imagen:</label>
            <input type="text" class="form-control" id="imagen" name="ImagenURL" value="@Model.Negocio.ImagenURL">
        </div>
        <button type="submit" class="btn btn-primary">Editar Negocio</button>
    </form>
</div>

